{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="alert alert-light" role="alert">
  <h4 class="alert-heading">Notice!</h4>
  <p>This simple Kubernetes Dashboard is a handy tool for sending requests internally to pods. It lets you easily send http request to pods using the detected IP Address and Port in the cluster.</p>
  <hr>
  <p class="mb-0">This application is internal solution and must not be exposed publicly.</p>
</div>

<!-- Add content for the homepage as needed -->
{% endblock %}
